
@{
    ViewData["Title"] = "Index";
}

<h1>Ornek controller, Index sayfası</h1>

@{
    var name = ViewBag.name;
    <p>@name</p>
}

<p>@ViewBag.name</p>
<p>@name</p>

<hr />

<p>Yaş: @ViewData["age"]</p>

<h3>İsimler</h3>
<ul>
    @foreach (var item in ViewData["names"] as List<string>)
    {
    
            <li>@item</li>
    
    }   
</ul>

